{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "web",
      "image": "%%AWSAccountId%%.dkr.ecr.%%Region%%.amazonaws.com/%%Repository%%",
      "essential": true,
      "memory": %%ContainerMemory%%,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 8080
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-region": "%%Region%%",
          "awslogs-group": "%%LogGroupNameWeb%%"
        }
      }
    }
  ]
}
