{% extends 'management_base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
<li class="breadcrumb-item active" aria-current="page">Project Setting</li>
{% endblock %}

{% block head_title %}
    CVAT | Project Setting
{% endblock %}

{% block content %}
<h3 class="page-header">Project Setting</h3>
<br>
<form role="form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <p>
        <a class="btn btn-default" href="{% url 'projects' %}" role="button">Back</a>
        <input class="btn btn-primary" type="submit" value="Save">
    </p>
</form>
{% endblock %}