{% extends 'management_base.html' %}

{% block head_title %}
    CVAT | Projects
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Projects</li>
{% endblock %}

{% block content %}
<h3 class="page-header">Projects</h3>

<a class="btn btn-primary" href="{% url 'projects_create' %}" role="button">Create Project</a>
<br>
<br>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Datasets</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</a></td>
                <td>0</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'projects_update' project.id %}" role="button">Setting</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'labels' project.id %}" role="button">Labels</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'datasets' project.id %}" role="button">Datasets</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'project_assignees' project.id %}" role="button">Assignees</a>
                    <a class="btn btn-primary btn-sm" href="#" role="button">Dump Annotation</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'projects_delete' project.id %}" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}